<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %> 
    <title>Historial Clínico</title>
    <link rel="stylesheet" href="/resources/css/estilosforms.css" />
  </head>

  <body>
  <header class="header">
    <%- include('./partials/header', {position: position}) %>
  </header>

  <main class="container">
    <h2 class="title">Historia Clínica</h2>
    <form action="/form_historial" method="POST">
      <div class="user-details">

        <div class="input-box">
          <label class="details" for="date_clinical_histories">Id mascota</label>
          <input value="<%= inventario.id_pet %>" name="date_clinical_histories" type="text" required id="start" name="trip-start" min="1965-01-01" max="2021-12-31" />
        </div>

        <div class="input-box">
          <label class="details" for="date_clinical_histories">Fecha</label>
          <input name="date_clinical_histories" type="date" required id="start" name="trip-start" min="1965-01-01" max="2021-12-31" />
        </div>

        <div class="input-box">
          <label for="visit_pet" class="details">Motivo de visita</label>
          <select class="select" name="visit_pet" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="Nueva consulta">Nueva consulta</option>
            <option value="Control">Control</option>
            <option value="Cita especialista">Cita especialista</option>
          </select>
        </div>

        <div class="input-box">
          <label for="anamnesis" class="details">Anamnesis</label>
          <input type="text" name="anamnesis" placeholder="" required />
        </div>

        <div class="input-box">
          <label for="previous_illnesses" class="details">Enfermedades previas</label>
          <input type="text" name="previous_illnesses" placeholder="" />
        </div>

        <div class="input-box">
          <label for="recent_treatment" class="details">Tratamientos recientes</label>
          <input type="text" name="recent_treatment" placeholder="" />
        </div>

        <div class="input-box">
          <label for="surgeries" class="details">Cirugías</label>
          <input type="text" name="surgeries" placeholder="" />
        </div>

        <div class="input-box">
          <label for="diet_frequency" class="details">Dieta y frecuencia</label>
          <input type="text" name="diet_frequency" placeholder="" />
        </div>

        <div class="input-box">
          <label for="behaviour" class="details">Comportamiento</label>
          <input type="text" name="behaviour" placeholder="" />
        </div>

        <h2 class="title">Examen Físico General</h2>
        
        <div class="input-box">
          <label for="" class="details"></label>
        </div>

        <div class="input-box">
          <label for="weight" class="details">Peso (kg)</label>
          <input type="text" name="weight" placeholder="Kg" />
        </div>

        <div class="input-box">
          <label for="temperature" class="details">Temperatura (ºC)</label>
          <input type="text" name="temperature" placeholder="ºC" />
        </div>

        <div class="input-box">
          <label for="heart_rate" class="details">Frecuencia cardíaca (LPM/min)</label>
          <input type="text" name="heart_rate" placeholder="LPM/min" />
        </div>

        <div class="input-box">
          <label for="breathing_frequency" class="details">Frecuencia respiratoria (RPM/min)</label>
          <input type="text" name="breathing_frequency" placeholder="RPM/min" />
        </div>

        <div class="input-box">
          <label for="capillary_time" class="details">Tiempo llenado Capilar (TLLC/seg)</label>
          <input type="text" name="capillary_time" placeholder="TLLC/seg" />
        </div>

        <div class="input-box">
          <label for="skin_fold" class="details">Pliegue cutaneo (seg)</label>
          <input type="text" name="skin_fold" placeholder="seg" />
        </div>

        <div class="input-box">
          <label for="dehydration" class="details">Deshidratación (%)</label>
          <input type="text" name="dehydration" placeholder="%" />
        </div>

        <div class="input-box">
          <label for="tussive" class="details">Reflejo Tusígeno</label>
          <input type="text" name="tussive" placeholder="" />
        </div>

        <div class="input-box">
          <label for="pulse" class="details">Pulso</label>
          <input type="text" name="pulse" placeholder="" />
        </div>

        <div class="input-box">
          <label for="mucous" class="details">Mucosas</label>
          <input type="text" name="mucous" placeholder="" />
        </div>

        <div class="input-box">
          <label for="body_condition" class="details">Condición Corporal (1-9)</label>
          <input type="text" name="body_condition" placeholder="1-9" />
        </div>

        <div class="input-box">
          <label for="superficial_nodes" class="details">Ganglios superficiales</label>
          <select class="select" name="superficial_nodes" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="1">Reactivos</option>
            <option value="2">No reactivos</option>
          </select>
        </div>

        <div class="input-box">
          <label for="percussion_span" class="details">Palmo percusión</label>
          <input type="text" name="percussion_span" placeholder="" />
        </div>

        <div class="input-box">
          <label for="" class="details"></label>
        </div>

        <h2 class="title">Examen Físico Especial</h2>

        <div class="input-box">
          <label for="" class="details"></label>
        </div>

        <div class="input-box">
          <label for="hydration" class="details">Hidratación</label>
          <select class="select" name="hydration" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
        </div>

        <div class="input-box">
          <label for="nutritional_status" class="details">Estado nutricional</label>
          <select class="select" name="nutritional_status" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
        </div>

        <div class="input-box">
          <label for="superficial_nodes_special" class="details">Ganglios superficiales</label>
          <select class="select" name="superficial_nodes_special" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
        </div>

        <div class="input-box">
          <label for="attitude" class="details">Actitud</label>
          <select class="select" name="attitude" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="2">A</option>
          </select>
          <input type="text" name="observations_attitude" placeholder="Observaciones" />
        </div>

        <div class="input-box">
          <label for="eyes" class="details">Ojos</label>
          <select class="select" name="eyes" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
          <input type="text" name="observations_eyes" placeholder="Observaciones" />
        </div>

        <div class="input-box">
          <label for="ears" class="details">Oídos</label>
          <select class="select" name="ears" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
          <input type="text" name="observations_ears" placeholder="Observaciones" />
        </div>

        <div class="input-box">
          <label for="digestive_system" class="details">Sist. Digestivo</label>
          <select class="select" name="digestive_system" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
          <input type="text" name="observations_system" placeholder="Observaciones" />
        </div>

        <div class="input-box">
          <label for="cardiac_system" class="details">Sist. Cardiovascular</label>
          <select class="select" name="cardiac_system" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
          <input type="text" name="observations_cardiac" placeholder="Observaciones" />
        </div>

        <div class="input-box">
          <label for="respiratory_system" class="details">Sist. Respiratorio</label>
          <select class="select" name="respiratory_system" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
          <input type="text" name="observations_respiratory" placeholder="Observaciones" />
        </div>

        <div class="input-box">
          <label for="urinary_system" class="details">Sist. Urinario</label>
          <select class="select" name="urinary_system" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
          <input type="text" name="observations_urinary" placeholder="Observaciones" />
        </div>

        <div class="input-box">
          <label for="reproductive_system" class="details">Sist. Reproductivo</label>
          <select class="select" name="reproductive_system" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
          <input type="text" name="observations_reproductive" placeholder="Observaciones" />
        </div>

        <div class="input-box">
          <label for="musculoskeletal_system" class="details">Sist. Musculoesquelético</label>
          <select class="select" name="musculoskeletal_system" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
          <input type="text" name="observations_musculoskeletal" placeholder="Observaciones" />
        </div>

        <div class="input-box">
          <label for="nervous_system" class="details">Sist. Nervioso</label>
          <select class="select" name="nervous_system" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
          <input type="text" name="observations_nervous" placeholder="Observaciones" />
        </div>

        <div class="input-box">
          <label for="skin_annex" class="details">Piel y anexos</label>
          <select class="select" name="skin_annex" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="N">N</option>
            <option value="A">A</option>
          </select>
          <input type="text" name="observations_skin_annex" placeholder="Observaciones" />
        </div>

        <div class="input-box">
          <label for="exam_details" class="details">Detalles Examen</label>
          <input type="text" name="exam_details" placeholder="" />
        </div>

        <div class="input-box">
          <label for="presumptive_diagnoses" class="details">Diagnósticos presuntivos</label>
          <input type="text" name="presumptive_diagnoses" placeholder="" />
        </div>

        <div class="input-box">
          <label for="differential_diagnoses" class="details">Diagnósticos diferenciales</label>
          <input type="text" name="differential_diagnoses" placeholder="" />
        </div>

        <div class="input-box">
          <label for="diagnostic_plan" class="details">Plan diagnóstico</label>
          <input type="text" name="diagnostic_plan" placeholder="" />
        </div>

        <h2 class="title">Tratamiento</h2>

        <div class="input-box">
          <label for="" class="details"></label>
        </div>

        <div class="input-box">
          <label for="treatment" class="details">Tratamiento</label>
          <input type="text" name="treatment" placeholder="Medicamento/Dosis/Vía/Frec/Duración" />
        </div>

        <div class="input-box">
          <label for="" class="details"></label>
        </div>

        <input class="buttonm" type="submit" id="buttonm" value="Guardar" />

      </div>
    </form>
  </main>

  <footer>
    <%- include('./partials/footer') %>
    <% if(typeof alert !="undefined" ) { %>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
              }).then(() => {
            window.location = '/<%=ruta%>'
          })
      </script>
      <% } %>
  </footer>
  
</body>

</html>