<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %> 
  <title>Registro Usuario</title>
  <link rel="stylesheet" href="/resources/css/estilosforms.css" />
</head>

<body>
  <header class="header">
    <%- include('./partials/header', {position: position}) %>
  </header>
   
  <main class="container">
    <h2 class="title">Registro Usuario</h2>
    <form action="form_usuario" method="POST">
      <div class="user-details">

        <div class="input-box">
          <label for="id_user">Documento ID</label>
          <input type="text" name="id_user" placeholder="Documento identidad" required />
        </div>

        <div class="input-box">
          <label for="name">Nombres</label>
          <input type="text" name="name" placeholder="Nombres" required />
        </div>

        <div class="input-box">
          <label for="lastname">Apellidos</label>
          <input type="text" name="lastname" placeholder="Apellidos" required />
        </div>

        <div class="input-box">
          <label for="birth_date">Fecha Nacimiento</label>
          <input type="date" name="birth_date" min="1965-01-01" max="2021-12-31" required />
          <label></label>

        </div>

        <div class="input-box">
          <label for="gender">Sexo</label>
          <select class="select" name="gender" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="femenino">Femenino</option>
            <option value="masculino">Masculino</option>
            <option value="prefiero no decir">Prefiero no decir</option>
          </select>
        </div>

        <div class="input-box">
          <label for="position">Cargo</label>
          <select class="select" name="position" aria-label="Default select example">
            <option selected>Seleccione una opción</option>
            <option value="administrador">Administrador</option>
            <option value="médico veterinario">Médico Veterinario</option>
            <option value="auxiliar veterinario">Auxiliar Veterinario</option>
          </select>
        </div>

        <div class="input-box">
          <label for="user">Usuario</label>
          <input type="user" name="user" placeholder="Usuario" required />
        </div>

        <div class="input-box">
          <label for="cel">Celular</label>
          <input type="text" name="cel" placeholder="Celular" required />
        </div>

        <div class="input-box">
          <label for="pass">Contraseña</label>
          <input type="password" name="pass" placeholder="Contraseña" required />
        </div>

        <div class="input-box">
          <label for="password">Confirmar Contraseña</label>
          <input type="password" name="password" placeholder="Confirmar Contraseña" required />
        </div>

        <div>
          <input class="button" type="submit" value="Registrar" />
        </div>
      </div>
    </form>
  </main>
  </div>

  <footer>
    <%- include("./partials/footer.ejs") %> 
    <% if(typeof alert != "undefined") { %>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
      const alerta = {
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
        };
        Swal.fire(alerta)
          .then(() => {window.location = '/<%=ruta%>'});
      </script>
    <% } %>
  </footer>

</body>

</html>