<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Historia Clínica</title>
    <link rel="stylesheet" href="./estiloshistorial.css" />
  </head>

  <body>
    <main>
      <section class="section">
        <div class="section__info">
          <div class="section__data">
            <h2>Nombre Mascota</h2>
          </div>
          <div class="section__tables">
            <div class="section__table">
                <table>
                  <tr>
                    <th><h2 class="title">Datos Basicos</h2></th>
                  </tr>
                  <tr>
                    <th class="down">Id mascota:</th>
                    <td><%= cliente.id_client %></td>
                  </tr>
                  <tr>
                    <th class="down">Fecha</th>
                    <td><%= cliente.address %></td>
                  </tr>
                  <tr>
                    <th class="down">Motivo de visita</th>
                    <td><%= cliente.email %></td>
                  </tr>
                  <tr>
                    <th class="down">Anamnesis</th>
                    <td><%= cliente.email %></td>
                  </tr>
                  <tr>
                    <th class="down">Enfermedades previas</th>
                    <td><%= cliente.email %></td>
                  </tr>
                  <tr>
                    <th class="down">Tratamientos recientes</th>
                    <td><%= cliente.email %></td>
                  </tr>
                  <tr>
                    <th class="down">Cirugías</th>
                    <td><%= cliente.email %></td>
                  </tr>
                  <tr>
                    <th class="down">Dieta y frecuencia</th>
                    <td><%= cliente.email %></td>
                  </tr>
                  <tr>
                    <th class="down">Comportamiento</th>
                    <td><%= cliente.email %></td>
                  </tr>
                </table>
              </div>
              <div class="section__table">
                  <table>
                    <tr>
                      <th><h2 class="title">Examen Físico General</h2></th>
                    </tr>
    
                    <tr>
                      <th class="down">Peso (kg)</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Temperatura (ºC)</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Anamnesis</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Frecuencia cardíaca (LPM/min)</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Frecuencia respiratoria (RPM/min)</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Tiempo llenado Capilar (TLLC/seg)</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Pliegue cutaneo (seg)</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Deshidratación (%)</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Reflejo Tusígeno</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Pulso</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Mucosas</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Condición Corporal (1-9)</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Ganglios superficiales</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Palmo percusión</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr></tr>
                  </table>
              </div>
              
              <div class="section__table">
                  <table>
                    <tr>
                      <th><h2 class="title">Examen Físico Especial</h2></th>
                    </tr>
    
                    <tr>
                      <th class="down">Hidratación</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Estado nutricional</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Ganglios superficiales</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Ganglios superficiales</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Ganglios superficiales</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Ganglios superficiales</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Ganglios superficiales</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Ganglios superficiales</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Actitud</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Ojos</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Oídos</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Sist. Digestivo</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Sist. Cardiovascular</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Sist. Respiratorio</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Sist. Urinario</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Sist. Reproductivo</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Sist. Musculoesquelético</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Sist. Nervioso</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Piel y anexos</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Detalles Examen</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Diagnósticos presuntivos</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Diagnósticos diferenciales</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Plan diagnóstico</th>
                      <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                      <th class="down">Tratamiento</th>
                      <td><%= cliente.email %></td>
                    </tr>
                  </table>
              </div>
          </div>
          
            
          </div>
        </div>
      </section>
    </main>
    <script
      src="https://kit.fontawesome.com/7d3e6d734e.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
