<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/resources/css/estilosinicio.css" />
    <title>Inicio</title>
  </head>

  <body>
    <header class="header">
      <%- include('./partials/header', {position: position}) %>
    </header>

    <h2 class="title">Propietario Registrados</h2>

    <main class="main_content">
      <div class="box">
        <div class="element">
          <a class="client" href="./form_cliente">
            <i class="fas fa-user-plus add"></i>Añadir cliente
          </a>
          <div class="search-box">
            <label for="search" class="icon">
              <input id="search" type="text" placeholder="Busqueda..." />
              <i class="fas fa-search buscar"></i>
            </label>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Documento del propietario</th>
              <th scope="col">Nombre del propietario</th>
              <th scope="col">Id del paciente</th>
              <th scope="col">Nombre del paciente</th>
              <th scope="col">Raza</th>
              <th scope="col">Genero</th>
              <th scope="col">Detalles</th>
              <th scope="col">Editar</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>

          <tbody>
            <% for(let cliente of inventario) { %>
            <tr class="hover">
				
              <td><%= cliente.id_client %></td>
              <td><%= cliente.name_client %> <%= cliente.surname_client %></td>
              <td><%= cliente.id_pet %></td>
              <td><%= cliente.name_pet %></td>
              <td><%= cliente.race %></td>
              <td><%= cliente.gender_pet %></td>
              
			  <td>
                <a class="fas fa-eye" href="./resumen_cliente/<%= cliente.id_client %>" style="text-decoration: none;"></a>
              </td>

              <td>
                <button
				          class="btn btn-primary fas fa-edit"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#editModal<%= cliente.id_client %>"
                  data-bs-whatever="@fat"
                > </button>
				        <%- include("./partials/modal_edit.ejs", {cliente}) %> 
              </td>

              <td>
                <a class="fas fa-trash" href="/delete/<%= cliente.id_client %>"></a>
              </td>

            </tr>
            <% } %>
			
          </tbody>
        </table>
      </div>
    </main>

	<footer>
		<%- include("./partials/footer.ejs") %> 
	</footer>
    
  </body>
</html>
