<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/resources/css/estilosinicio.css" />
    <title>Mascotas Registradas</title>
  </head>

  <body>
    <header class="header">
      <%- include('./partials/header', {position: position}) %>
    </header>

    <h2 class="title">Mascotas Registradas</h2>

    <main class="main_content">
      <section class="box">
        <div class="element">
          <div class="search-box">
            <label for="search" class="icon">
              <input id="search" type="text" placeholder="Busqueda..." />
              <i class="fas fa-search buscar"></i>
            </label>
          </div>
        </div>

        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Chip</th>
                <th scope="col">Fecha última consulta</th>
                <th scope="col">Nombre de mascota</th>
                <th scope="col">Especie</th>
                <th scope="col">Raza</th>
                <th scope="col">Propietario</th>
                <th scope="col">Estado</th>
                <th scope="col">Detalles</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>

            <tbody>
              <% for(let pet of inventario) { %>
              <tr class="hover">
                <td><%= pet.chip %></td>
                <td><%= pet.date_created %></td>
                <td><%= pet.name_pet %> <%= pet.last_name_pet%></td>
                <td><%= pet.species %></td>
                <td><%= pet.race %></td>
                <td><%= pet.name_client %><%=pet.surname_client%></td>
                <td><%= pet.state_pet %></td>
                <td>
                  <a
                  class="fas fa-eye"
                  href="./resumen_mascota/<%= pet.id_pet %>"
                  style="text-decoration: none"
                  ></a>
                </td>
                <td>
                  <button
                    class="btn btn-primary fas fa-edit"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#editModal<%= pet.id_pet %>"
                    data-bs-whatever="@fat"
                  ></button>
                  <%- include("./partials/modal_edit_m.ejs", {pet}) %>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </section>
    </main>

    <footer><%- include("./partials/footer.ejs") %></footer>
  </body>
</html>
