<!DOCTYPE html>
<html lang="en">

<head>
    <title>Resumen Mascota</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/resources/css/estilosresumen.css ">
    <link rel="stylesheet" href="/resources/css/estilosinicio.css">
</head>

<body>
    <header class="header">
        <%- include('./partials/header', {position: position}) %>
    </header>

    <main>
        <section class="section">
            <div class="section__info">
                <div class="section__data">
                    <img src="/resources/images/user-circle.svg" alt="user">
                    <h2><%= cliente.name_client %> <%= cliente.second_surname_client %></h2>
                </div>
                <div class="section__table">
                    <table>
                        <tr>
                            <td>Nombres:</td>
                            <td><%= cliente.name_client %></td>
                        </tr>
                        <tr>
                            <td>Apellidos:</td>
                            <td><%= cliente.second_surname_client %></td>
                        </tr>
                        <tr>
                            <td>Documento ID:</td>
                            <td><%= cliente.id_client %></td>
                        </tr>
                        <tr>
                            <td>Dirección:</td>
                            <td><%= cliente.address %></td>
                        </tr>
                        <tr>
                            <td>Correo:</td>
                            <td><%= cliente.email %></td>
                        </tr>
                    </table>
                </div>        
                <div class="section__add">
                    <a class="client" href="../form_mascota/<%= cliente.id_pet %>"><i class="fas fa-paw add"></i>Añadir mascota</a>
                </div>
            </div>
        </section>

        <section class="clinic-option">
            <h2>Mascotas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID mascota</th>
                        <th scope="col">Nombre de la mascota</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Especie</th>
                        <th scope="col">Raza</th>
                        <th scope="col">Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let pet of pets) {%>
                        <tr class="hover">
                            <td><%= pet.id_pet %></td>
                            <td><%= pet.name_pet %></td>
                            <td><%= pet.birth_date_pet %></td>
                            <td><%= pet.species %></td>
                            <td><%= pet.race %></td>
                            <td><a class="fas fa-eye" href="../resumen_mascota/<%= pet.id_pet %>" style="text-decoration: none; color: #00A54F;"></a></td>
                        </tr>
                        <% } %>  
                </tbody>
            </table>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/7d3e6d734e.js" crossorigin="anonymous"></script>
</body>
</html>