<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">	
    <link rel="stylesheet" href="resources/css/estilosresumenmascotas.css">
    <link rel="stylesheet" href="resources/css/estilosinicio.css">
    <title>Resumen Mascota</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a href="./inicio" class="nav__items"><i class="fas fa-user"></i>Clientes</a>
            <a href="./mascotas" class="nav__items"><i class="fas fa-paw"></i>Mascotas</a>
            <!-- <a href="./form_historial.html" class="nav__items"><i class="fas fa-dollar-sign"></i>Tienda</a> -->
			<% if (position === "administrador") { %>
            <a href="./form_usuario.ejs" class="nav__items"><i class="fas fa-user-plus add"></i>A침adir Usuario</a>
			<% } %>
            <a href="./logout" class="nav__items"><i class="fas fa-sign-out-alt"></i>Cerrar Sesi칩n</a>
        </nav>
    </header>
    <main>
        <section class="info">
            <div class="info__pet">
                <img src="/resources/images/user-circle.svg" alt="user">
                <h2><%= inventario[0].name_client %> <%= inventario[0].surname_client %></h2>
            </div>
            <div class="info__table">
                <table>
                    <tr>
                        <th>Nombres:</th>
                        <td><%= inventario[0].id_client %></td>
                    </tr>
                    <tr>
                        <th>Apellidos:</th>
                        <td><%= inventario[0].email %></td>
                    </tr>
                    <tr>
                        <th>Documento ID:</td>
                        <td><%= inventario[0].address %></td>
                    </tr>
                    <tr>
                        <th>Direcci칩n:</th>
                        <td><%= inventario[0].cel %></td>
                    </tr>
                    <tr>
                        <th>Correo:</th>
                        <td><%= inventario[0].birth_date_client %></td>
                    </tr>
                </table>
            </div>
            <div class="pet">
				<a class="client pet-add" href="./form_mascota"><i class="fas fa-paw add"></i>A침adir mascota</a>
            </div>
        </section>

        <section class="clinic-option">
            <h2>Mascotas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID mascota</th>
                        <th scope="col">Nombre de la mascota</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Especie</th>
                        <th scope="col">Raza</th>
                        <th scope="col">Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover">
                        <td>
                            <%= inventario[0].id_pet %>
                        </td>
                        <td>
                            <%= inventario[0].name_pet %>
                        </td>
                        <td>
                            <%= inventario[0].birth_date_pet %>
                        </td>
                        <td>
                            <%= inventario[0].species %>
                        </td>
                        <td>
                            <%= inventario[0].race %> 
                        </td>
                        <td>
                            <a href="./historial_clinico"><i class="fas fa-eye"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
	<script src="https://kit.fontawesome.com/7d3e6d734e.js" crossorigin="anonymous"></script>
</body>

</html>