<!DOCTYPE html>
<html lang="en">

<head>
    <title>Resumen Mascota</title>
    <link rel="stylesheet" href="/resources/css/estilosresumenmascotas.css ">
    <link rel="stylesheet" href="/resources/css/estilosinicio.css">
    <%- include('./partials/head') %>
</head>

<body>
    <header class="header">
        <%- include('./partials/header', {position: position}) %>
    </header>

    <main>
        <section class="info">
            <div class="info__pet">
                <img src="/resources/images/user-circle.svg" alt="user">
                <h2><%= cliente.name_cliente %> <%= cliente.surname_cliente %></h2>
            </div>
            <div class="info__table">
                <table>
                    <tr>
                        <th>Nombres:</th>
                        <td><%= cliente.id_cliente %></td>
                    </tr>
                    <tr>
                        <th>Apellidos:</th>
                        <td><%= cliente.email %></td>
                    </tr>
                    <tr>
                        <th>Documento ID:</td>
                        <td><%= cliente.address %></td>
                    </tr>
                    <tr>
                        <th>Dirección:</th>
                        <td><%= cliente.cel %></td>
                    </tr>
                    <tr>
                        <th>Correo:</th>
                        <td><%= cliente.birth_date_cliente %></td>
                    </tr>
                </table>
            </div>

            <div class="pet">
				<a class="client" href="./form_mascota"><i class="fas fa- add"></i>Añadir mascota</a>
            </div>
        </section>

        <section class="clinic-option">
            <h2>Mascotas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID mascota</th>
                        <th scope="col">Nombre de la mascota</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Especie</th>
                        <th scope="col">Raza</th>
                        <th scope="col">Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover">
                        <% for(let pet of pets) {%>
                            <td><%= pet.id_pet %></td>
                            <td><%= pet.name_pet %></td>
                            <td><%= pet.birth_date_pet %></td>
                            <td><%= pet.species %></td>
                            <td><%= pet.race %></td>
                            <td><a class="fas fa-eye" href="./historial_clinico"></a></td>
                        <% } %>  
                    </tr>
                </tbody>
            </table>
        </section>

    </main>
</body>
</html>