<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/resources/css/estilosresumenmascotas.css">
    <link rel="stylesheet" href="/resources/css/estilosinicio.css">
    <title>Resumen Mascota</title>
</head>

<body>

    <header class="header">
        <%- include('./partials/header', {position: position}) %>
    </header>

    <main>
        <section class="info">
            <div class="info__pet">
                <img src="/resources/images/user-circle.svg" alt="user">
                <h2><%= inventario[0].name_pet %></h2>
            </div>
            <div class="info__table">
                <table>
                    <tr>
                        <th>Numero de historia:</th>
                        <td><%= inventario[0].id_pet %></td>
                    </tr>
                    <tr>
                        <th>Especie:</td>
                        <td><%= inventario[0].species %></td>
                    </tr>
                    <tr>
                        <th>Raza:</th>
                        <td><%= inventario[0].race %></td>
                    </tr>
                    <tr>
                        <th>Sexo:</th>
                        <td><%= inventario[0].gender_pet %></td>
                    </tr>
                    <tr>
                        <th>Fecha de nacimiento:</th>
                        <td><%= inventario[0].birth_date_pet %></td>
                    </tr>
                    <tr>
                        <th>Estado reproductivo:</td>
                        <td><%= inventario[0].reproductive_status %></td>
                    </tr>
                </table>
            </div>
            <div class="pet">
				<a class="client pet-add" href="./add"><i class="fas fa-notes-medical add"></i>Añadir historial</a>
            </div>
        </section>

        <section class="clinic-option">
            <h2>Historias Clinicas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Fecha de Ingreso</th>
                        <th scope="col">Id Historial Clinico</th>
                        <th scope="col">Diagnostico</th>
                        <th scope="col">Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover">
                        <td>
                            Entrada de fecha en historial clinico
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatem id dignissimos.
                        </td>
                        <td>
                            <a href="./historial_clinico"><i class="fas fa-eye"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
	<script src="https://kit.fontawesome.com/7d3e6d734e.js" crossorigin="anonymous"></script>
</body>

</html>