<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/resources/css/estilosresumen.css">
    <link rel="stylesheet" href="/resources/css/estilosinicio.css">
    <title>Resumen Mascota</title>
</head>

<body>

    <header class="header">
        <%- include('./partials/header', {position: position}) %>
    </header>

    <main>
        <section class="section">
            <div class="section__info">
                <div class="section__data">
                    <img src="/resources/images/user-circle.svg" alt="user">
                    <h2><%= pets.name_pet %></h2>
                </div>
                <div class="section__table">
                    <table>
                        <tr>
                            <th class="up">Id mascota:</th>
                            <td><%= pets.id_pet %></td>
                        </tr>
                        <tr>
                            <th class="down">Chip:</th>
                            <td><%= pets.chip %></td>
                        </tr>
                        <tr>
                            <th class="down">Especie:</td>
                            <td><%= pets.species %></td>
                        </tr>
                        <tr>
                            <th class="down">Raza:</th>
                            <td><%= pets.race %></td>
                        </tr>
                        <tr>
                            <th class="down">Sexo:</th>
                            <td><%= pets.gender_pet %></td>
                        </tr>
                        <tr>
                            <th class="down">Fecha de nacimiento:</th>
                            <td><%= pets.birth_date_pet %></td>
                        </tr>
                        <tr>
                            <th class="down">Estado reproductivo:</td>
                            <td><%= pets.reproductive_status %></td>
                        </tr>
                    </table>
                </div>
                <div class="section__add">
                    <a class="client" href="../form_historial/<%= pets.id_pet %>"><i class="fas fa-notes-medical add"></i>Añadir historial</a>
                </div>
            </div>
        </section>

        <section class="clinic-option">
            <h2>Historias Clinicas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Fecha de Ingreso</th>
                        <th scope="col">Id Historial Clinico</th>
                        <th scope="col">Diagnostico</th>
                        <th scope="col">Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover">
                        <td>
                            Entrada de fecha en historial clinico
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatem id dignissimos.
                        </td>
                        <td>
                            <a class="fas fa-eye" href="./historial_clinico" style="text-decoration: none; color: #00A54F;"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

	<script src="https://kit.fontawesome.com/7d3e6d734e.js" crossorigin="anonymous"></script>
</body>

</html>